{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contactanos</title>
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/contactanos.css' %}">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>

<body>
  <!-- Header -->
  <header>
    <a href="index.html"><img class="logo" src="{% static 'images/logo.svg' %}"></a>
    <ul class="menu">
      <li><a class="link" href="index.html">Inicio</a></li>
      <li><a class="link" href="views/descripcion.html">Descripción</a></li>
      <li><a class="link" href="views/login.html">Cursos</a></li>
      <li><a class="link" href="views/contactanos.html">Contactanos</a></li>
    </ul>
    <div class="login">
      <img src="{% static 'images/login.svg' %}">
      <a class="link" href="login.html">Iniciar sesión</a>
    </div>
  </header>

  <!-- Contactanos -->
  <div>
    <div class="contenido">
      <h1>Informacion de Contacto</h1>
    </div>
    <div class="cuadro">
      <form action="">
        <h4 class="text-1">Nombres</h4>
        <input type="text" class="caja-1" />
        <h4 class="text-2">Apellidos</h4>
        <input type="text" class="caja-2" />
        <h4 class="text-3">Correo Electronico</h4>
        <input type="text" class="caja-3" />
        <h4 class="text-4">Mensaje</h4>
        <input type="text" class="caja-4" />
      </form>
    </div>
  </div>
  <div class="boton">
    <a class="letra" href="#">Enviar</a>
  </div>

  <!--Footer-->
  <footer>
    <p>© Samantha - Todos los derechos reservados 2021</p>
    <table class="info">
      <tbody>
        <tr>
          <td class="dir"><img src="{% static 'images/direccion.svg'%}" alt="#"></td>
          <td class="dir">Av. 28 de Julio 715, Cercado de Lima</td>
        </tr>
        <tr>
          <td class="dir"><img src="{% static 'images/telefono.svg' %}" alt="#"></td>
          <td class="dir">+51 999 888 777</td>
        </tr>
      </tbody>
    </table>
    <div class="follow">
      <p>Siguenos</p>
      <div class="socials">
        <a href="https://www.linkedin.com"><img src="{% static 'images/linkedin.svg' %}" alt="#"></a>
        <a href="https://www.github.com"><img src="{% static 'images/github.svg' %}" alt="#"></a>
        <a href="https://www.twitter.com"><img src="{% static 'images/twitter.svg' %}" alt="#"></a>
      </div>
    </div>
  </footer>
</body>

</html>