<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samantha</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
</head>

<body>
    <header>
        <a href="index.html"><img class="logo" src="{% static 'images/logo.svg' %}"></a>
        <ul class="menu">
            <li><a class="link" href="">Inicio</a></li>
            <li><a class="link" href="">Descripción</a></li>
            <li><a class="link" href="">Cursos</a></li>
            <li><a class="link" href="">Contactanos</a></li>
        </ul>
        <div class="login">
            <img src="{% static 'images/login.svg' %}">
            <a class="link" href="login.html">Iniciar sesión</a>
        </div>
    </header>

    <div id="intro" class="intro">
        <img src="{% static 'images/inicio.svg' %}" alt="#">
        <div class="presentacion">
            <p class="title">Domina todas las áreas del curso de matemáticas!</p>
            <p class="introduccion">En nuestra plataforma online contamos con un Asistente Virtual para el aprendizaje adaptativo reforzando el curso de matemática a nivel primaria y secundaria</p>
            <button>Ver más</button>
        </div>
    </div>

</body>

</html>